services:
  http:
    container_name: potato-http
    image: nginx:stable-alpine
    user: ${UID}:${GID}
    ports:
        - "80:80"
        - "443:443"
    volumes:
        - .:/var/www/potato
        - ./docker/http/site.conf:/etc/nginx/conf.d/site.conf
        - ./docker/http/snippets:/etc/nginx/conf.d/snippets
        - ./docker/http/certs:/etc/ssl/certs
    networks:
      static-network:
        ipv4_address: 172.20.128.1
  php:
    container_name: potato-php
    hostname: potato-php
    user: ${UID}:${GID}
    build:
        context: ./docker/php
        dockerfile: Dockerfile-php81
        args:
          - USER=$USER
          - UID=$UID
          - GID=$GID
    volumes:
        - .:/var/www/potato
        - ./docker/data/home/$USER:/home/$USER
        - "$SSH_AUTH_SOCK:$SSH_AUTH_SOCK"
        - /etc/timezone:/etc/timezone:ro
        - /etc/localtime:/etc/localtime:ro
    working_dir: /var/www
    environment:
        - SSH_AUTH_SOCK=$SSH_AUTH_SOCK
    networks:
      static-network:
        ipv4_address: 172.20.128.2
  db:
    container_name: potato-db
    image: postgres:14-alpine
    environment:
      POSTGRES_DB: potato
      POSTGRES_PASSWORD: potato
      POSTGRES_USER: potato
    volumes:
       - ./docker/data/db:/var/lib/postgresql/data:rw
    networks:
      static-network:
        ipv4_address: 172.20.128.3
  node:
    container_name: potato-node
    image: node:current-alpine
    volumes:
      - .:/var/www/potato
    tty: true
    user: ${UID}:${GID}
    networks:
      static-network:
        ipv4_address: 172.20.128.4
networks:
  static-network:
    ipam:
      config:
        - subnet: 172.20.0.0/16
