{{ form_start(form) }}
    {{ form_row(form.name) }}

<ul class="ingredients"
    data-index="0"
    data-prototype="&lt;div&gt;&lt;label class=&quot; required&quot;&gt;__name__&lt;/label&gt;&lt;div id=&quot;task_tags___name__&quot;&gt;&lt;div&gt;&lt;label for=&quot;task_tags___name___name&quot; class=&quot; required&quot;&gt;Name&lt;/label&gt;&lt;input type=&quot;text&quot; id=&quot;task_tags___name___name&quot; name=&quot;task[tags][__name__][name]&quot; required=&quot;required&quot; maxlength=&quot;255&quot; /&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;"
></ul>
<button type="button" class="add_item_link" data-collection-holder-class="ingredients">Add an ingredient</button>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
